% rebase('osnova.html', title='Ekipe')

<body>
    <div class="container my-5">
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-4">
                <div class="p-4 border rounded-3 bg-white shadow-sm h-100">
                    <h5 class="mb-3 text-secondary text-center">Iskalnik ekip</h5>
                    <form action="/ekipa/" method="GET">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Išči ekipo..."
                                name="iskalni_niz" value="{{iskalni_niz or ''}}">
                            <button class="btn btn-light" type="submit">Išči</button>
                        </div>
                    </form>

                    <ul class="list-unstyled" id="team-list">
                        % if ekipe != "" and isinstance(ekipe[0], str):
                        <li>
                            <div class="alert alert-danger" role="alert">{{ekipe[0]}}</div>
                        </li>
                        % else:
                        % for ekipa in ekipe:
                        <li>
                            <a href="/ekipa/{{ekipa.ime}}/" class="card-link d-block p-2 rounded"
                                data-team-name="{{ekipa.ime}}">
                                <span class="text-secondary">{{ekipa.ime}}</span>
                            </a>
                        </li>
                        % end
                        % end
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

    