% rebase('osnova.html', title='Ekipe')

<body>
    <div class="container my-5">
        
        <div class="mt-4 text-center">
            <a href="/ekipe/" class="btn btn-light">Pregled lestvice ekip</a>
        </div>

        <div class="row g-4 justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="p-4 border rounded-3 bg-white shadow-sm h-100">
                    <h5 class="mb-3 text-secondary text-center">Iskalnik ekip</h5>
                    <form action="/ekipa/" method="GET">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="search-input" placeholder="Išči ekipo..."
                                name="iskalni_niz" value="{{iskalni_niz or ''}}">
                            <button class="btn btn-light" type="submit" id="search-button">Išči</button>
                        </div>
                    </form>
                    <ul class="list-unstyled" id="track-list">
                        % for ekipa in ekipe:
                        <li>
                            <a href="/ekipa/{{ekipa.ime}}/" class="card-link d-block p-2 rounded"
                                data-track-name="{{ekipa.ime}}">
                                <span class="text-secondary">{{ekipa.ime}}</span>
                            </a>
                        </li>
                        % end
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
