% rebase('osnova.html', title='Lestvica ekip')
<body>
    <div class="d-flex mt-5 justify-content-center align-items-start">
        <div class="row g-4 justify-content-center">
            <div class="col-12 col-md-8">
                <div class="p-4 border rounded-3 bg-white shadow-sm">
                    <h2 class="text-center mb-4">Lestvica ekip</h2>

                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th>Mesto</th>
                                <th>Ekipa</th>
                                <th>Skupne točke</th>
                                <th>Najboljši voznik</th>
                            </tr>
                        </thead>
                        <tbody>
                            % for i, (ime, tocke, voznik) in enumerate(lestvica, start=1):
                            <tr>
                                <td>{{i}}</td>
                                <td>{{ime}}</td>
                                <td>{{tocke}}</td>
                                <td>{{voznik or "-"}}</td>
                            </tr>
                            % end
                        </tbody>
                    </table>
                </div>
                <div class="mt-4 text-center">
                    <a href="/ekipa/" class="btn btn-light">Nazaj</a>
                </div>
            </div>
        </div>
    </div>
</body>
