% rebase('osnova.html', title='MOTO GP')

<body>
<a href="/login" style="text-decoration:none;">
    <button style="
        background-color:#007BFF;
        color:white;
        border:none;
        padding:10px 20px;
        font-size:16px;
        border-radius:5px;
        cursor:pointer;
    ">
         Prijava kot admin
    </button>
</a>
    <div class="d-flex mt-5 justify-content-center align-items-center">
        <div class="row g-3 justify-content-center">
            <div class="col-sm">
                <a href="/voznik/" class="no-underline">
                    <div class="card-link text-center border rounded-3 p-3">
                        <h3 class="text-secondary">Vozniki</h3>
                        <img src="/static/celada.png" class="rounded" alt="Vozniki" width="120" height="100">
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/proga/" class="no-underline">
                    <div class="card-link text-center border rounded-3 p-3">
                        <h3 class="text-secondary">Proge</h3>
                        <img src="/static/proga.jpg" alt="Proge" width="120" height="100">
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/event/" class="no-underline">
                    <div class="card-link text-center border rounded-3 p-3">
                        <h3 class="text-secondary">Eventi</h3>
                        <img src="/static/event.jpg" alt="Eventi" width="120" height="100">
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/ekipa/" class="no-underline">
                    <div class="card-link text-center border rounded-3 p-3">
                        <h3 class="text-secondary">Ekipe</h3>
                        <img src="/static/ekipa.png" alt="Ekipe" width="120" height="100">
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>